<a href="https://colab.research.google.com/github/kholikulovelyor/Data-Darsliklari-uchun/blob/2-modul.-DATA-ANALYSIS-PANDAS-KUTUBXONASI/Amaliyot_Mohirdev_2_2_DataFrame_ma'lumotlar_tuzilmasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [4]:
data = {'Yil':[2020, 2019, 2018, 2017, 2016, 2015, 2010],
       "Aholi soni":[273, 271, 268, 266, 263, 261, 249],
       "temp":[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64]}

df = DataFrame(data)

df = pd.DataFrame(data)

In [5]:
df.head(3)

    Yil  Aholi soni  temp
0  2020         273  1.54
1  2019         271  1.48
2  2018         268  1.56

In [7]:
df = pd.DataFrame(data, columns=['Yil', 'Aholi', 'temp', 'Yaim'])

In [8]:
df

    Yil Aholi  temp Yaim
0  2020   NaN  1.54  NaN
1  2019   NaN  1.48  NaN
2  2018   NaN  1.56  NaN
3  2017   NaN  1.62  NaN
4  2016   NaN  1.65  NaN
5  2015   NaN  1.66  NaN
6  2010   NaN  1.64  NaN

In [10]:
aholi = df['Aholi']

In [11]:
aholi

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
Name: Aholi, dtype: object

In [20]:
dostlar = {
    'ism':['Hurshid', 'Bobojon', 'Muhriddin', 'Elyor', 'Jasur', 'Sevinch', 'Yasmina'],
    'Yosh':[18, 18, 18, 18, 18, 17, 17],
    "Kasb":['Android dastruchi', 'ios dasturchi', 'Full Stack dasturchi', 'Data Scientist', 'Sportchi', 'Banker', 'O`qituvchi']
}

fd = DataFrame(dostlar)
fd = pd.DataFrame(dostlar)

In [30]:
fd

         ism  Yosh                  Kasb
0    Hurshid    18     Android dastruchi
1    Bobojon    18         ios dasturchi
2  Muhriddin    18  Full Stack dasturchi
3      Elyor    18        Data Scientist
4      Jasur    18              Sportchi
5    Sevinch    17                Banker
6    Yasmina    17            O`qituvchi

In [37]:
fd.head(8)

         ism  Yosh                  Kasb
0    Hurshid    18     Android dastruchi
1    Bobojon    18         ios dasturchi
2  Muhriddin    18  Full Stack dasturchi
3      Elyor    18        Data Scientist
4      Jasur    18              Sportchi
5    Sevinch    17                Banker
6    Yasmina    17            O`qituvchi