<a href="https://colab.research.google.com/github/kholikulovelyor/Data-Darsliklari-uchun/blob/2-modul.-DATA-ANALYSIS-PANDAS-KUTUBXONASI/Mohirdev2_2_DataFrame_ma'lumotlar_tuzilmasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science va Sun'iy Intellekt Praktikum

#Ma'lumotlar Tahlili. Pandas kutubxonasi
2.2.2 DataFrame ma'lumotlar tuzilmasi

#English:

#`What is Data Frame`

A DataFrame is a data structure that organizes data into a 2-dimensional table of rows and columns, much like a spreadsheet. DataFrames are one of the most common data structures used in modern data analytics because they are a flexible and intuitive way of storing and working with data.

#Uzbek

#`Data Frame nima`

DataFrame - bu elektron jadval kabi ma'lumotlarni ikki o'lchovli satrlar va ustunlar jadvaliga joylashtiradigan ma'lumotlar strukturasi. DataFrames zamonaviy ma'lumotlar tahlilida qo'llaniladigan eng keng tarqalgan ma'lumotlar tuzilmalaridan biridir, chunki ular ma'lumotlarni saqlash va ular bilan ishlashning moslashuvchan va intuitiv usulidir.

In [ ]:
import pandas as pd

In [ ]:
data = {
    'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
    'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
    'Temp':[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]
}

df = pd.DataFrame(data)

In [ ]:
df # Malumotlar

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2010        28.5  1.53

In [ ]:
df.head() # Bu method orqali ma'lumotlarimizniboshidagi 5 tasini chiqaramiz

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65

In [ ]:
df.head(3) # Bu usul orqali o'zimiz hohlagan ma'lumotlarimiz ichidagi elementlarni chiqarishimiz mumkun

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2010        28.5  1.53

In [ ]:
df.shape # Bu method orqali ma'lumotimiz o'chamini ko'rishimiz mumkun

(8, 3)

In [ ]:
df = pd.DataFrame(data, columns=['Yil','Temp', 'Aholi soni', 'YAIM']) # Bu method orqali ustunlar qatorini o'zgartirishimiz mumkun 
# columns meaning `ustun`

In [ ]:
df

    Yil  Temp  Aholi soni YAIM
1  2021  1.54        33.9  NaN
2  2020  1.48        33.5  NaN
3  2019  1.56        32.9  NaN
4  2018  1.62        32.5  NaN
5  2017  1.65        31.9  NaN
6  2016  1.66        31.4  NaN
7  2015  1.64        30.9  NaN
8  2010  1.53        28.5  NaN

In [ ]:
df = pd.DataFrame(data, columns=['Yil','Temp', 'Aholi soni', 'YAIM'], index = [1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
df

    Yil  Temp  Aholi soni YAIM
1  2021  1.54        33.9  NaN
2  2020  1.48        33.5  NaN
3  2019  1.56        32.9  NaN
4  2018  1.62        32.5  NaN
5  2017  1.65        31.9  NaN
6  2016  1.66        31.4  NaN
7  2015  1.64        30.9  NaN
8  2010  1.53        28.5  NaN

In [ ]:
aholi = df['Aholi soni'] # Bu method orqali har bir qatorni ajratib olishimiz mumkun Series ma'lumotlar turiga

In [ ]:
aholi

1    33.9
2    33.5
3    32.9
4    32.5
5    31.9
6    31.4
7    30.9
8    28.5
Name: Aholi soni, dtype: float64