<a href="https://colab.research.google.com/github/kholikulovelyor/Data-Darsliklari-uchun/blob/2-modul.-DATA-ANALYSIS-PANDAS-KUTUBXONASI/Mohirdev2_2_Dars_9_7_DataFrame_Ustunlari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science va Sun'iy Intellekt Praktikum

#Ma'lumotlar Tahlili. Pandas kutubxonasi
2.2.2 DataFrame ma'lumotlar tuzilmasi

#English:

#`What is Data Frame`

A DataFrame is a data structure that organizes data into a 2-dimensional table of rows and columns, much like a spreadsheet. DataFrames are one of the most common data structures used in modern data analytics because they are a flexible and intuitive way of storing and working with data.

#Uzbek

#`Data Frame nima`

DataFrame - bu elektron jadval kabi ma'lumotlarni ikki o'lchovli satrlar va ustunlar jadvaliga joylashtiradigan ma'lumotlar strukturasi. DataFrames zamonaviy ma'lumotlar tahlilida qo'llaniladigan eng keng tarqalgan ma'lumotlar tuzilmalaridan biridir, chunki ular ma'lumotlarni saqlash va ular bilan ishlashning moslashuvchan va intuitiv usulidir.

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [2]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       "Temp":[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]}
df = DataFrame(data)

In [3]:
df # Malumotlar

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2010        28.5  1.53

In [4]:
df.head() # Bu method orqali ma'lumotlarimizniboshidagi 5 tasini chiqaramiz

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65

In [5]:
df.head(3) # Bu usul orqali o'zimiz hohlagan ma'lumotlarimiz ichidagi elementlarni chiqarishimiz mumkun

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56

In [6]:
df.shape # Bu method orqali ma'lumotimiz o'chamini ko'rishimiz mumkun

(8, 3)

In [7]:
df = pd.DataFrame(data, columns=['Yil','Temp', 'Aholi soni', 'YAIM']) # Bu method orqali ustunlar qatorini o'zgartirishimiz mumkun 
# columns meaning `ustun`

In [8]:
df

    Yil  Temp  Aholi soni YAIM
0  2021  1.54        33.9  NaN
1  2020  1.48        33.5  NaN
2  2019  1.56        32.9  NaN
3  2018  1.62        32.5  NaN
4  2017  1.65        31.9  NaN
5  2016  1.66        31.4  NaN
6  2015  1.64        30.9  NaN
7  2010  1.53        28.5  NaN

In [9]:
df = pd.DataFrame(data, columns=['Yil','Temp', 'Aholi soni', 'YAIM'], index = [1, 2, 3, 4, 5, 6, 7, 8])

In [10]:
df

    Yil  Temp  Aholi soni YAIM
1  2021  1.54        33.9  NaN
2  2020  1.48        33.5  NaN
3  2019  1.56        32.9  NaN
4  2018  1.62        32.5  NaN
5  2017  1.65        31.9  NaN
6  2016  1.66        31.4  NaN
7  2015  1.64        30.9  NaN
8  2010  1.53        28.5  NaN

In [11]:
aholi = df['Aholi soni'] # Bu method orqali har bir qatorni ajratib olishimiz mumkun Series ma'lumotlar turiga

In [12]:
aholi

1    33.9
2    33.5
3    32.9
4    32.5
5    31.9
6    31.4
7    30.9
8    28.5
Name: Aholi soni, dtype: float64

In [13]:
df.YAIM

1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
Name: YAIM, dtype: object

In [14]:
df.YAIM = 0

In [15]:
df.YAIM

1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
Name: YAIM, dtype: int64

In [16]:
df

    Yil  Temp  Aholi soni  YAIM
1  2021  1.54        33.9     0
2  2020  1.48        33.5     0
3  2019  1.56        32.9     0
4  2018  1.62        32.5     0
5  2017  1.65        31.9     0
6  2016  1.66        31.4     0
7  2015  1.64        30.9     0
8  2010  1.53        28.5     0

In [17]:
val = pd.Series([1700, 1650, 1300], index=[1, 2, 8])

In [18]:
df.YAIM = val

In [19]:
df

    Yil  Temp  Aholi soni    YAIM
1  2021  1.54        33.9  1700.0
2  2020  1.48        33.5  1650.0
3  2019  1.56        32.9     NaN
4  2018  1.62        32.5     NaN
5  2017  1.65        31.9     NaN
6  2016  1.66        31.4     NaN
7  2015  1.64        30.9     NaN
8  2010  1.53        28.5  1300.0

In [20]:
val = [1700, 1650, 1600, 1550, 1490, 1450, 1370, 1300]

In [21]:
df.YAIM = val

In [22]:
df

    Yil  Temp  Aholi soni  YAIM
1  2021  1.54        33.9  1700
2  2020  1.48        33.5  1650
3  2019  1.56        32.9  1600
4  2018  1.62        32.5  1550
5  2017  1.65        31.9  1490
6  2016  1.66        31.4  1450
7  2015  1.64        30.9  1370
8  2010  1.53        28.5  1300

In [23]:
df[1500] = df.YAIM>1500

In [24]:
df

    Yil  Temp  Aholi soni  YAIM   1500
1  2021  1.54        33.9  1700   True
2  2020  1.48        33.5  1650   True
3  2019  1.56        32.9  1600   True
4  2018  1.62        32.5  1550   True
5  2017  1.65        31.9  1490  False
6  2016  1.66        31.4  1450  False
7  2015  1.64        30.9  1370  False
8  2010  1.53        28.5  1300  False

In [25]:
df['1500+'] = df.YAIM>1500

In [26]:
df

    Yil  Temp  Aholi soni  YAIM   1500  1500+
1  2021  1.54        33.9  1700   True   True
2  2020  1.48        33.5  1650   True   True
3  2019  1.56        32.9  1600   True   True
4  2018  1.62        32.5  1550   True   True
5  2017  1.65        31.9  1490  False  False
6  2016  1.66        31.4  1450  False  False
7  2015  1.64        30.9  1370  False  False
8  2010  1.53        28.5  1300  False  False

In [27]:
del df['1500+']

In [28]:
df

    Yil  Temp  Aholi soni  YAIM   1500
1  2021  1.54        33.9  1700   True
2  2020  1.48        33.5  1650   True
3  2019  1.56        32.9  1600   True
4  2018  1.62        32.5  1550   True
5  2017  1.65        31.9  1490  False
6  2016  1.66        31.4  1450  False
7  2015  1.64        30.9  1370  False
8  2010  1.53        28.5  1300  False