<a href="https://colab.research.google.com/github/kholikulovelyor/Data-Darsliklari-uchun/blob/2-modul.-DATA-ANALYSIS-PANDAS-KUTUBXONASI/Qator_va_ustunlarni_tashlab_yuborish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       "Temp":[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53],
       "Zichlik":[79.77, 78.68, 77.53, 76.43, 75.13, 73.91, 72.71, 67.03]}
df = DataFrame(data)
df

    Yil  Aholi soni  Temp  Zichlik
0  2021        33.9  1.54    79.77
1  2020        33.5  1.48    78.68
2  2019        32.9  1.56    77.53
3  2018        32.5  1.62    76.43
4  2017        31.9  1.65    75.13
5  2016        31.4  1.66    73.91
6  2015        30.9  1.64    72.71
7  2010        28.5  1.53    67.03

In [3]:
df.index = [10,11,12,13,14,15,16,17]

In [4]:
df

     Yil  Aholi soni  Temp  Zichlik
10  2021        33.9  1.54    79.77
11  2020        33.5  1.48    78.68
12  2019        32.9  1.56    77.53
13  2018        32.5  1.62    76.43
14  2017        31.9  1.65    75.13
15  2016        31.4  1.66    73.91
16  2015        30.9  1.64    72.71
17  2010        28.5  1.53    67.03

In [5]:
df.drop(10)

     Yil  Aholi soni  Temp  Zichlik
11  2020        33.5  1.48    78.68
12  2019        32.9  1.56    77.53
13  2018        32.5  1.62    76.43
14  2017        31.9  1.65    75.13
15  2016        31.4  1.66    73.91
16  2015        30.9  1.64    72.71
17  2010        28.5  1.53    67.03

In [12]:
df.drop([10,17])

     Yil  Aholi soni  Temp  Zichlik
11  2020        33.5  1.48    78.68
12  2019        32.9  1.56    77.53
13  2018        32.5  1.62    76.43
14  2017        31.9  1.65    75.13
15  2016        31.4  1.66    73.91
16  2015        30.9  1.64    72.71

In [16]:
df.drop('Yil', axis='columns') # qator va ustunlarni tashab yuborish # drop methodidan foydalanadi va axis=0 or 1 bo'lishi kerak , va yoki columns bo'lishi kerak

    Aholi soni  Temp  Zichlik
10        33.9  1.54    79.77
11        33.5  1.48    78.68
12        32.9  1.56    77.53
13        32.5  1.62    76.43
14        31.9  1.65    75.13
15        31.4  1.66    73.91
16        30.9  1.64    72.71
17        28.5  1.53    67.03