<a href="https://colab.research.google.com/github/kholikulovelyor/Data-Darsliklari-uchun/blob/2-modul.-DATA-ANALYSIS-PANDAS-KUTUBXONASI/qayta_indekslash_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [24]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       "Temp":[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53],
       "Zichlik":[79.77, 78.68, 77.53, 76.43, 75.13, 73.91, 72.71, 67.03]}
df = DataFrame(data)
df

    Yil  Aholi soni  Temp  Zichlik
0  2021        33.9  1.54    79.77
1  2020        33.5  1.48    78.68
2  2019        32.9  1.56    77.53
3  2018        32.5  1.62    76.43
4  2017        31.9  1.65    75.13
5  2016        31.4  1.66    73.91
6  2015        30.9  1.64    72.71
7  2010        28.5  1.53    67.03

In [25]:
data1 = {'ism':['elyor', 'hurshid', 'asill', 'muhriddin', 'komil', 'yasmina', 'jasur', 'sevinch', 'odil'],
         'familya':['xoliqulov', 'abdullayev', 'yarashev', 'qodirov', 'xolmirzayev', 'yusupova', 'saidazimov', 'boymirzayeva', 'xoliqulov'],
         'yosh':[18, 18, 17, 18, 18, 17, 18, 17, 12],
         'institut':['Moliya', 'oqimaydi', 'sport', 'moliya', 'guldu', 'jahon tillari', 'nomalum', 'oqimaydi', 'maktab']
         }
df1 = DataFrame(data1)

In [26]:
username = {"anvar": "anvar223", "elyor": "kholikulovelyor", "bobojon":"yoqubovdadash", "muhriddin": "qodirovmuhriddin00"}
email = {"anvar":"anvarbek223", "elyor":"kholikulovelyor@gmail.com", "bobojon":"yoqubovdadash@gmail.com", "muhriddin":"qodirovmuhriddin00@gmail.com"}

In [27]:
data2 = {
    'username': username,
    'email': email
}
df2 = pd.DataFrame(data2)

In [28]:
df

    Yil  Aholi soni  Temp  Zichlik
0  2021        33.9  1.54    79.77
1  2020        33.5  1.48    78.68
2  2019        32.9  1.56    77.53
3  2018        32.5  1.62    76.43
4  2017        31.9  1.65    75.13
5  2016        31.4  1.66    73.91
6  2015        30.9  1.64    72.71
7  2010        28.5  1.53    67.03

In [29]:
df1

         ism       familya  yosh       institut
0      elyor     xoliqulov    18         Moliya
1    hurshid    abdullayev    18       oqimaydi
2      asill      yarashev    17          sport
3  muhriddin       qodirov    18         moliya
4      komil   xolmirzayev    18          guldu
5    yasmina      yusupova    17  jahon tillari
6      jasur    saidazimov    18        nomalum
7    sevinch  boymirzayeva    17       oqimaydi
8       odil     xoliqulov    12         maktab

In [30]:
df2

                     username                         email
anvar                anvar223                   anvarbek223
elyor         kholikulovelyor     kholikulovelyor@gmail.com
bobojon         yoqubovdadash       yoqubovdadash@gmail.com
muhriddin  qodirovmuhriddin00  qodirovmuhriddin00@gmail.com

In [31]:
df2.index = [2022, 2021, 2020, 2019]

In [32]:
df.reindex()

    Yil  Aholi soni  Temp  Zichlik
0  2021        33.9  1.54    79.77
1  2020        33.5  1.48    78.68
2  2019        32.9  1.56    77.53
3  2018        32.5  1.62    76.43
4  2017        31.9  1.65    75.13
5  2016        31.4  1.66    73.91
6  2015        30.9  1.64    72.71
7  2010        28.5  1.53    67.03

In [33]:
df

    Yil  Aholi soni  Temp  Zichlik
0  2021        33.9  1.54    79.77
1  2020        33.5  1.48    78.68
2  2019        32.9  1.56    77.53
3  2018        32.5  1.62    76.43
4  2017        31.9  1.65    75.13
5  2016        31.4  1.66    73.91
6  2015        30.9  1.64    72.71
7  2010        28.5  1.53    67.03

In [34]:
df.reindex(index=range(10,22), method='nearest')

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    67.03
11  2010        28.5  1.53    67.03
12  2010        28.5  1.53    67.03
13  2010        28.5  1.53    67.03
14  2010        28.5  1.53    67.03
15  2010        28.5  1.53    67.03
16  2010        28.5  1.53    67.03
17  2010        28.5  1.53    67.03
18  2010        28.5  1.53    67.03
19  2010        28.5  1.53    67.03
20  2010        28.5  1.53    67.03
21  2010        28.5  1.53    67.03

In [35]:
df1.reindex(index=range(20), method='pad') # ffill, nearest

          ism       familya  yosh       institut
0       elyor     xoliqulov    18         Moliya
1     hurshid    abdullayev    18       oqimaydi
2       asill      yarashev    17          sport
3   muhriddin       qodirov    18         moliya
4       komil   xolmirzayev    18          guldu
5     yasmina      yusupova    17  jahon tillari
6       jasur    saidazimov    18        nomalum
7     sevinch  boymirzayeva    17       oqimaydi
8        odil     xoliqulov    12         maktab
9        odil     xoliqulov    12         maktab
10       odil     xoliqulov    12         maktab
11       odil     xoliqulov    12         maktab
12       odil     xoliqulov    12         maktab
13       odil     xoliqulov    12         maktab
14       odil     xoliqulov    12         maktab
15       odil     xoliqulov    12         maktab
16       odil     xoliqulov    12         maktab
17       odil     xoliqulov    12         maktab
18       odil     xoliqulov    12         maktab
19       odil     xoliqulov    12         maktab

In [36]:
df.sample() # tasodifiy tanlab oladi kiritilgan sonni

    Yil  Aholi soni  Temp  Zichlik
3  2018        32.5  1.62    76.43

In [38]:
df.loc()

In [41]:
df.loc[[5,7,6],['Aholi soni', 'Temp', 'Zichlik']]

   Aholi soni  Temp  Zichlik
5        31.4  1.66    73.91
7        28.5  1.53    67.03
6        30.9  1.64    72.71